<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzer</title>
    <link rel="stylesheet" href="../static/css/analyzer.css">
</head>
<body>
      <!-- Sidebar -->
      <div class="sidebar">
        <h2>
            <img src="../static/images/logo.jpeg" alt="Stethoscope" style="width: 75px; height: auto;">
            <span style="font-family: 'Playfair Display', sans-serif; font-size: 18px; font-weight: bold;">MedCare Ecosystem</span>
        </h2>
        <nav>
            <a href="/home" >
                <img src="../static/images/overview.png" alt="Overview"> Overview
            </a>
            <a href="/analyzer" class="active">
                <img src="../static/images/mrictscan.png" alt="MRI/CT Scans"> Medical Image Analyzer
            </a>
            <a href="#">
                <img src="../static/images/medicalreport.png" alt="Medical Report"> Medical Report
            </a>
            <a href="/find_hospital">
                <img src="../static/images/findhospital.png" alt="Find Hospitals"> Find Hospitals
            </a>
        </nav>
        <a href="/" class="logout">
            <img src="../static/images/logout.png" alt="Logout"> Logout
        </a>
    </div>

    <div class="main">
        <div class="header">
            <h1>Medical Image Analyzer</h1>
        </div>
        <div class="container">
            <div class="box" onclick="location.href='/mri_ct_scan';">
                <h2>MRI & CT Scan Analysis</h2>
                <p>Detect abnormalities in MRI and CT scans.</p>
            </div>
            <div class="box" onclick="location.href='/fracture_detection';">
                <h2>Fracture Detection</h2>
                <p>Analyze X-rays for fractures and bone damage.</p>
            </div>
        </div>
    </div>
   
</body>
</html>
